.container{
    padding: 4rem 0;
}

h1{
    font-weight: 800;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

ion-card-header, ion-card-content{
    padding-bottom: 0;
}


ion-card-content > p{
    margin-bottom: 0;
}

ion-input{
    margin-top: 1rem;
}

ion-button{
    margin: 1rem;
}

ion-button::part(native){
    padding: 1.25rem;
}