<ion-content>
    <div class="container">
        <ion-button expand="block" (click)="setValueBoton('vender')" [routerLink]="['/busqueda']">Vender</ion-button>
        <ion-button expand="block" (click)="setValueBoton('fabricar')" [routerLink]="['/busqueda']">Fabricar</ion-button>
        <ion-button expand="block" (click)="setValueBoton('comprar')" [routerLink]="['/busqueda']">Comprar</ion-button>
        <ion-button expand="block" (click)="setValueBoton('añadir')" [routerLink]="['/nuevo-producto']">Añadir nuevo</ion-button>
        <ion-button expand="block" (click)="setValueBoton('consultar')" [routerLink]="['/selector-tipo-producto']">Consultar stock</ion-button>
    </div>
</ion-content>
