
<ion-button expand="block" (click)="setValueBoton('vender')" [routerLink]="['/compraventa']">vender</ion-button>
<ion-button expand="block" (click)="setValueBoton('fabricar')" [routerLink]="['/compraventa']">fabricar</ion-button>
<ion-button expand="block" (click)="setValueBoton('comprar')" [routerLink]="['/compraventa']">comprar</ion-button>
<ion-button expand="block" (click)="setValueBoton('añadir')" [routerLink]="['/nuevo-producto']">Añadir nuevo</ion-button>
<!--<app-nav-bar></app-nav-bar>-->