<ion-searchbar placeholder="Buscar producto" (ionInput)="buscarProductos($event)"></ion-searchbar>
<ion-list>

    @for (producto of productosFiltrados; track producto){
    <ion-item>
        <h2>{{ producto['tipo'] }}</h2>
        <p>{{ producto['color'] }}</p>
        <p>{{ producto['modelo'] }}</p>
    </ion-item>
    }

</ion-list>

    <!--Aquí habria que hacer un ngfor para que cogiese todos los artículos de la bbdd
    y los colocase uno a uno en un botón, en vez de escribirlos todos-->
