<!--Estaría bien añadir una X por si quiero eliminar el término de búsqueda entero-->
<ion-searchbar [(ngModel)]="terminoBusqueda" placeholder="Buscar producto" (ionInput)="buscarProductos()"></ion-searchbar>

<!--Si el término de búsqueda está vacío, muestra lista de categorías independientemente de la acción-->
@if(!terminoBusqueda && categoriaElegida===null){
<ion-list>
    @for (p of listaPropiedades; track p){
        <ion-card (click)="buscarModelos(p)">      
            <ion-card-header>
                <ion-card-title>{{ p }}</ion-card-title>
            </ion-card-header>
        </ion-card>    
    }
</ion-list>
}

@if(!terminoBusqueda && categoriaElegida!=null && modeloElegido == null){
<ion-list>
    @for (p of listaPropiedades; track p){
        <ion-card (click)="buscarColores(p)">       
            <ion-card-header>
                <ion-card-title>{{ p }}</ion-card-title>
            </ion-card-header>
        </ion-card>       
    }
</ion-list>
}

@if(!terminoBusqueda && modeloElegido!=null && colorElegido == null){
<ion-list>
    @for (p of listaPropiedades; track p){
        <ion-card (click)="buscarTallas(p)">       
            <ion-card-header>
                <ion-card-title>{{ p }}</ion-card-title>
            </ion-card-header>
        </ion-card>       
    }
</ion-list>
}

@if(!terminoBusqueda && colorElegido!=null){
<ion-list>
    @for (p of listaPropiedades; track p){
        <ion-card [routerLink]="['/ficha-producto']" (click)="comunicarDatos(productosFiltrados[0].id, productosFiltrados[0].tipo, productosFiltrados[0].color, productosFiltrados[0].talla, productosFiltrados[0].cantidad, productosFiltrados[0].modelo)
">       
            <ion-card-header>
                <ion-card-title>{{ p }}</ion-card-title>
            </ion-card-header>
        </ion-card>       
    }
</ion-list>
}

<!--Si el término de búsqueda tiene cualquier cosa, busca en el array de productos filtrados-->
@if(terminoBusqueda){
<ion-list>
    @for (p of productosFiltrados; track p){
        <ion-card [routerLink]="['/ficha-producto']" (click)="comunicarDatos(p.id, p.tipo, p.color, p.talla, p.cantidad, p.modelo)">
            <ion-card-header>
                <ion-card-title>{{ p.tipo }}</ion-card-title>
                <ion-card-subtitle>{{ p.modelo }}</ion-card-subtitle>
            </ion-card-header>

        <!--Si entramos en vender o fabricar, nos muestra también el modelo y el color-->

            @if(valorBotonHome === 'vender' || valorBotonHome === 'fabricar'){
            
            <ion-card-content>
                <p></p>
                @if (p.color){<p>Color: {{ p.color }}</p>}
                @if (p.talla){<p>Talla: {{ p.talla }}</p>}
            </ion-card-content>
            }
        </ion-card>       
    }
</ion-list>
}
