<ion-searchbar placeholder="Buscar producto" (ionInput)="buscarProductos($event)"></ion-searchbar>
<ion-list>

    @for (p of productosFiltrados; track p){

        <ion-card [routerLink]="['/ficha-producto']" (click)="comunicarDatos(p.tipo, p.color, p.talla, p.cantidad, p.modelo)">
            <ion-card-header>
                <ion-card-title>{{ p.tipo }}</ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <p>{{ p.modelo }}</p>
                <p>{{ p.color }}</p>
            </ion-card-content>
        </ion-card>


    }

</ion-list>