<ion-footer>
    <ion-toolbar>
        <ion-buttons class="button-container">
            <ion-button [routerLink]="['/home']">
                <ion-icon slot="icon-only" name="home"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="logo-euro"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/selector-listas-ventas']">
                <ion-icon slot="icon-only" name="storefront"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/estadisticas']">
                <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>