.container{
    padding: 4rem 0;
    height: 100%;
}

ion-card{
    height: 95%;
    display: flex;
    flex-direction: column;
}

ion-input{
    margin-top: 1rem;
}

ion-card-header, ion-card-content{
    padding-bottom: 0;
}


ion-card-content > p{
    margin-bottom: 0;
}

ion-input{
    margin-top: 1rem;
}

.card-buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

ion-button{
    margin: .5rem 1rem;
}

ion-button::part(native){
    padding: 1.25rem;
}
