<ion-content>
  <div class="container">
    @if (valorBotonHome ==='vender'||valorBotonHome==='fabricar'){
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{productoActual.tipo}}</ion-card-title>
        <ion-card-subtitle>{{productoActual.modelo}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>{{productoActual.color}}</p>
        <p>{{productoActual.talla}}</p>

        <!--Aquí hay que poner un if. Si es solo consulta, esto NO puede ser un input-->
        <ion-input label="Stock" type="number" min="0" placeholder={{productoActual.cantidad}} fill="solid" [(ngModel)]="productoActual.cantidad"></ion-input>
        @if (valorBotonHome === 'vender'){
          <ion-select label="Lugar de venta" placeholder="Elige una opción">
            <ion-select-option value="feria">Feria</ion-select-option>
            <ion-select-option value="tienda">Tienda</ion-select-option>
            <ion-select-option value="pedido">Pedido</ion-select-option>
          </ion-select>
        }
      </ion-card-content>
      <div class="card-buttons">
        <ion-button expand="block" (click)="guardarCambios()">Guardar</ion-button>
        <ion-button expand="block" (click)="cancelarCambios()">Cancelar</ion-button>
        <ion-button expand="block" color="danger" (click)="eliminarProducto()">Eliminar</ion-button>
      </div>
    </ion-card>
  }

    @if (valorBotonHome ==='comprar'){
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{productoActual.tipo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>{{productoActual.modelo}}</p>
          <p>{{productoActual.color}}</p>
          <p>{{productoActual.talla}}</p>

          <!--Aquí hay que poner un if. Si es solo consulta, esto NO puede ser un input-->
          <ion-input label="Stock" type="number" min="0" placeholder={{productoActual.cantidad}} fill="solid" [(ngModel)]="productoActual.cantidad"></ion-input>

        </ion-card-content>
        <div class="card-buttons">
          <ion-button expand="block" (click)="guardarCambios()">Guardar</ion-button>
          <ion-button expand="block" (click)="cancelarCambios()">Cancelar</ion-button>
          <ion-button expand="block" color="danger" (click)="eliminarProducto()">Eliminar</ion-button>
        </div>
        
    </ion-card>
    }

  </div>
  
</ion-content>